<html>
  {{template "header.tmpl.html"}}
<body>
  {{template "nav.tmpl.html"}}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/static/lang-logo.png">
    </a>
    <h1>100 Things</h1>
      <p>Walk your dog.</p>
      <a type="button" class="btn btn-lg btn-default" href="/showRandom"><span class="glyphiconglyphicon-flash"></span> Show Next</a>
      <a type="button" class="btn btn-lg btn-primary" href="/showAll"></span> Show All</a>
      <p>Auth0 offers easy identity infrastructure, built for developers</p>
      <a id="qsLoginBtn" class="btn btn-primary btn-lg btn-block" href="/login">SignIn</a>
 
    </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
      Read about how to build this app at  <a href="https://github.com/denisecase/go-getting-started" class="alert-link">Hundred Things</a>.
  </div>
  <hr>
  <div class="row">
   
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Explore Different Stacks</h3>
      <ul>
        <li><a href="/">C# and DotNet</a></li>
        <li><a href="/">Java and Spring Boot</a></li>
        <li><a href="/">MERN Stack</a></li>
        <li><a href="/">Node / Express / Postgres</a></li>
        <li><a href="/">Python and Django</a></li>
        <li><a href="/">Python and Flask</a></li>
      </ul>
    </div>
  </div> <!-- row -->
    <div class="alert alert-info text-center" role="alert">
      Denise Case 2021-2022
  </div>
</div>

</body>
</html>
