<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/getRandom"><span class="glyphicon glyphicon-flash"></span> Random</a>
      </li>
      <li>
        <a href="/getAll"><span class="glyphicon glyphicon-asterisk"></span> All</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Samples <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/getOne/1">1</a></li>
            <li><a href="/getOne/2">2</a></li>
            <li><a href="/getOne/3">3</a></li>
            <li><a href="/getOne/4">4</a></li>
            <li class="divider"></li>
            <li><a href="/manage">Manage</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/learn">Learn More</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://github.com/denisecase/go-getting-started"><i class="fa fa-github" style="font-size:24px"></i> Source</a>
      </li>
    </ul>
  </div>
</nav>
